.post-fixed-siderbar {
    position: fixed;
    right: 30px;
    top: 150px;

    .post-fixed-siderbar-item {
    margin-bottom: 5px;
    font-size: 28px;
    position: relative;
    .post-fixed-siderbar-icon {
        cursor: pointer;
        > span:first-child {
            display: inline-block;
            margin: 0 5px;
        }
    }
    .leancloud-fixed-siderbar-count{
        position: absolute;
        font-size: 16px;
        top: 0px;
        right: -6px;
    }
}

}